body{
	font: 15px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	text-transform: inherit;
	color: #333;
	background: #3f909e;
	width: 100%;
	min-height: 100%;
}
a{
	color: white;
	text-decoration: none;
}
li{
    list-style-type: none; /* Убираем маркеры */
}
ul {
	margin: 0; /* Отступ слева в браузере IE и Opera */
	padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.default{
	position: relative;
}
.fixed{
	position: fixed;
	top: -15px;
    left: 388px;
}
.hover:hover{
	cursor: pointer;
}
.hide{
	display: none;
}
.wrap{
	width: 720px;
	margin: 15px auto;
	padding: 15px 10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.advTitle{
	padding: 15px 5px;
	margin: 0;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #3f909e;
	color: white;
}
.filtrTitle{
	text-align: center;
	color: #3f909e;
}
.menu{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
	text-align: center;
}
.s-between{
	justify-content: space-between;
}
.column{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 5px 0;
}
.title{
	font-weight: bold;
}
.bottomLine{
  border-bottom: 1px solid rgba(102, 98, 98, 0.842);
  padding: 5px 0;
}

.post {
  border-bottom: 6px solid  #3f909e;
  border-radius: 5px;
  padding: 5px 20px;
}

.post .body{
  margin-top:5px;
}
.shadow{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.m-r-60{
	margin-right: 60px;
}
.m-t-15{
	margin-top: 15px;
}
.m-b-15{
	margin-bottom: 15px;
}